{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}
{% block action %}registration_form{% endblock %}

{% block body %}
  <div class= "border p-2">
      {{ form_label(form) }}
      {{ form_start(form) }}
      {{ form_end(form) }}
  </div>
{% endblock %}
