{% extends 'base.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block body %}
<div id = "homepage_home">
    <h1 class = "fs-5">Strona główna</h1>
    <div class = "mt-2 bg-light"> 
        <div class = "banner py-3 ps-2 text-white"> Dostępne wątki </div>

        <div class = "">
            {% for thread in threads %}
                <div class = "item p-3 pt-0 mt-2"> 
                    <a class = "d-block" href="{{path("thread_show", {id: thread.id})}}" role="button">
                        {{ thread.name|capitalize  }} ({{thread.topics|length}})
                    </a>
                    <small class = ""> {{thread.description}}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
