{% extends 'base.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block body %}
<div id = "homepage_home">
    <h1 class = "fs-5">Strona główna</h1>
    <div class = "mt-2 bg-light"> 
        <div class = "banner py-3 ps-2 text-white"> Wybierz temat </div>

        <div class = "">
            {% for topic in topics %}
                <div class = "item p-3 pt-0 mt-2"> 
                    <a class = "d-block" href="{{path("topic_show", {id: topic.id})}}" role="button">
                        {{ topic.title|capitalize  }} ({{topic.posts|length}})
                    </a>
                    <small class = ""> {{topic.description}}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
